.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  background-color: rgb(0, 57, 63);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-links a:hover {
  background-color: aqua;
  transform: translateY(-5px); /* Lift the item on hover */
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* White shadow effect */
}

.nav-links .active {
  background-color: aqua;
  transform: translateY(-5px); /* Keep it lifted when active */
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* White shadow effect */
  border-radius: 5px; /* Ensure the border-radius is applied */
}

.buttonhj {
  display: flex;
  gap: 10px;
  align-items: center;
  border: none; /* Remove default border if any */
  background: none; /* Ensure no background */
  cursor: pointer;
}

.buttonhj img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* White shadow effect for the image */
}

.shadow {
  -webkit-box-shadow: -1px -4px 54px 1px rgba(187, 225, 255, 0.72) inset;
  -moz-box-shadow: -1px -4px 54px 1px rgba(187, 225, 255, 0.72) inset;
  box-shadow: -1px -4px 54px 1px rgba(187, 225, 255, 0.72) inset;
}
